.hero {
  position: relative;
  height: 750px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .hero_container {
    display: flex;
    align-items: center;
    .hero_content {
      padding-left: 120px;
      width: 520px;
      .description {
        color: #2b353c;
        margin-bottom: 4rem;
      }
    }
  }
}