.btn_solid {
  font-size: 0.9375rem;
  padding: 14px 40px;
  border: 1px solid #141F26;
  background: #141F26;
  color: #fff;
  transition: all 0.4s;;
  &:hover {
    background: transparent;
    color: #141F26;
  }
}