.btn_solid {
  font-size: 0.9375rem;
  font-weight: 500;
  padding: 14px 40px;
  border: 1px solid #141F26;
  background: #141F26;
  color: #fff;
  transition: all 0.4s;;
  &:hover {
    background: transparent;
    color: #141F26;
  }
}

.btn_outline {
  font-size: 0.9375rem;
  font-weight: 500;
  display: inline-block;
  padding: 14px 32px;
  border: 1px solid rgba(8, 38, 42, 0.2);
  transition: all 0.4s;
  &:hover {
    background: #141F26;
    border-color: #141F26;
    color: #fff;
  }
}