.btn_solid {
  display: inline-block;
  padding: 14px 40px;
  border: 1px solid #141F26;
  background: #141F26;
  box-shadow: 0 15px 30px rgba(0,0,0,0.1);
  color: #fff;
  transition: all 0.4s;
  &:hover {
    background: transparent;
    color: #141F26;
  }
}