.category {
  max-width: 460px;
  .image_wrapper {
    position: relative;
    padding-top: 100%;
    img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
  .category_content {
    padding: 20px 0;
  }
  &:first-child {
    margin-left: 55%;
    margin-top: -3%;
  }
  &:nth-child(2) {
    margin-left: 2%;
    margin-top: -24%;
  }
  &:nth-child(3) {
    margin-left: 63%;
    margin-top: -10%;
  }
  &:nth-child(4) {
    margin-left: 12%;
    margin-top: -24%;
  }
}
