.category_grid {
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 20px 20px;
  grid-template-areas: "item_01 item_01 item_02 item_02" "item_03 item_04 item_02 item_02";
  .item_1 {
    grid-area: item_01; 
  }
  .item_2 { 
    grid-area: item_02; 
  }
  .item_3 { 
    grid-area: item_03; 
  }
  .item_4 { 
    grid-area: item_04; 
  }
}
