@import "~bootstrap/scss/bootstrap";

body {
  font-family: 'Montserrat', sans-serif;
  color: #232323;
}

a {
  font-size: 0.9375rem;
  text-decoration: none;
  color: #232323;
  &:hover {
    text-decoration: none;
    color: #232323;
  }
}

h1, h2, h3 {
  font-weight: 600;
}

.container-fluid {
  padding: 0 30px;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.btn_theme {
  padding: 0 2px 4px;
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 1.8px;
  color: #fff;
  text-transform: uppercase;
  border-bottom: 1px solid #fff;
  transition: all 0.5s;
  &:hover {
    color: #000;
    border-color: #232323;
  }
}

.btn_main {
  padding: 11px 32px;
  border: 1px solid #dadada;
  transition: all 0.5s;
  &:hover {
    background: #232323;
    border-color: #232323;
    color: #fff;
  }
}

.section {
  padding: 80px 0;
}

.hero {
  position: relative;
  height: 100vh;
  margin-bottom: 80px;
}