@import "~bootstrap/scss/bootstrap";

$theme_color: #A68A7B;
$darker_font: #141F26;
$dark_font: #2b353c;
$light_font: #808080;

$dark_bg: #141F26;
$light_bg: #f2efed;

$font_0: 'Montserrat', sans-serif;
$font_1: 'Marcellus',serif;

body {
  font-family: $font_0;
  font-weight: 500;
  color: $darker_font;
}

a {
  font-size: 0.9375rem;
  text-decoration: none;
  color: $darker_font;
  &:hover {
    text-decoration: none;
    color: $darker_font;
  }
}

.container-fluid {
  padding: 0 50px;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

p {
  font-size: 0.9375rem;
  color: $light_font
}

.font_0 {
  font-family: $font_0;
}

.font_1 {
  font-family: $font_1;
}

.font_400 {
  font-weight: 400;
}

.font_500 {
  font-weight: 500;
}

.font_600 {
  font-weight: 600;
}

.light_bg {
  background: $light_bg;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.btn_theme {
  padding: 0 2px 4px;
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 1.8px;
  color: #fff;
  text-transform: uppercase;
  border-bottom: 1px solid #fff;
  transition: all 0.5s;
  &:hover {
    color: #141F26;
    border-color: $darker_font;
  }
}

.section {
  padding: 80px 0;
}

.section_group {
  .section_title {
    font-family: $font_1;
    font-size: 3rem;
    color: $darker_font;
    margin-bottom: 70px;
  }
  &.group_01 {
    margin-bottom: 60px;
    .section_title {
      margin-bottom: 15px;
    }
  }  
  .section_desc {
    font-size: 1rem;
    font-weight: 400;
    color: $light_font;
  }
}

.wrapper {
  max-width: 512px;
}

/* Forms */
.form_grid_vertical {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}

.grid_02 {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

.checkbox_custom {
  
}